tqdm
parse
pyyaml
pyyaml-include
objgraph
openpyxl
XlsxWriter

numpy
pandas
matplotlib
seaborn

scikit-learn

torch
torchvision
torchaudio

mne

# DN3 version 0.2
git+https://github.com/AndersGMadsen/dn3.git#egg=dn3

